@keyframes move {
    0% {
        background-position: center center, left center;
    }

    50% {
        background-position: center center, right center;
    }

    100%{
        background-position: center center, left center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    background-color: #f3f9fc;
    padding-bottom: 4rem;

    &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 30rem;
        margin-left: 16rem;
        top: 5rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            padding: 0 12rem;
            margin-top: 5rem;
            font-family: "Public Sans", sans-serif;
            font-size: 4rem;
            font-weight: 200;
            text-align: center;
            margin-bottom: 4rem;

            &-span {
                display: inline-block;
                font-weight: 700;
                background-image: 
                linear-gradient(to top, transparent, #18bdd0),
                linear-gradient(to right, #0127c0, #59A3F1, rgb(13, 13, 204));
                background-size: 100% 100%, 200% 100%;
                animation: move 3s infinite alternate;
                background-clip: text;
                color: transparent;
                letter-spacing: 2px;
            }
        }

        &-description {
            font-family: "Inter", sans-serif;
            font-size: 20px;
            padding: 0 20rem;
            text-align: center;
            margin-bottom: 6rem;
        }

        &-button {
            color: white;
            background-color: $Blue;
            width: 14rem;
            height: 4rem;
            border: 1px solid $lightBlue;
            border-radius: 3.125rem;
            font-family: "Inter", sans-serif;
            font-size: 1.25rem;
            position: relative;
            transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

            &:focus{
                outline: 0;
            }

            &:hover {
                cursor: pointer;
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }

            &:active{
                background: transparent;
                border: 2px solid $Blue;
                color: $Blue;
            }
        }
    }
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8rem;

    &__element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $lightBlue;

        &:first-child {
            border-left: transparent;
        }

        &-title {
            font-family: "inter", sans-serif;
            font-size: 3rem;
            background: linear-gradient(
                to right,
                #667db6,
                #0082c8,
                #0082c8,
                #667db6
            );
            background-clip: text;
            color: transparent;
            margin-bottom: 2rem;
            align-self: center;
        }

        &-sub {
            font-family: "inter", sans-serif;
            font-size: 24px;
            padding: 0 10rem;
            text-align: center;
            align-self: center;
            color: gray;
        }
    }
}

.section3 {
    display: flex;
    flex-direction: row;
    background-color: #ecf9ff;
    padding-right: 16rem;
    // border: 1px solid red;

    &__img {
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        width: 40%;
        margin: 4rem;
        margin-right: 0;
    }

    &__text {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        margin: 4rem;
        margin-left: 0;
        padding-left: 2rem;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        font-family: "Open Sans", sans-serif;

        &-title {
            color: #97d6f3;
            font-family: "inter", sans-serif;
            font-weight: 900;
            font-size: 36px;
            text-decoration: underline;
            margin-top: 5rem;
            margin-bottom: 4rem;
        }

        &-description {
            font-size: 24px;
            line-height: 36px;
            padding-right: 16rem;
        }
    }
}

.section4 {
    display: flex;
    flex-direction: row;
    background-color: #ecf9ff;
    padding-left: 16rem;

    &__img {
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        width: 40%;
        margin: 4rem;
        margin-left: 0;
    }

    &__text {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        margin: 4rem;
        margin-right: 0;
        padding-left: 2rem;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        font-family: "Open Sans", sans-serif;

        &-title {
            color: #97d6f3;
            font-family: "inter", sans-serif;
            text-decoration: underline;
            font-weight: 900;
            margin-top: 5rem;
            margin-bottom: 2rem;
            font-size: 36px;
        }

        &-description {
            font-size: 20px;
            line-height: 36px;
            padding-right: 16rem;
        }
    }
}

.section5 {
    display: flex;
    flex-direction: row;
    background-color: #ecf9ff;
    padding-right: 16rem;
    // border: 1px solid red;

    &__img {
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        width: 40%;
        margin: 4rem;
        margin-right: 0;
    }

    &__text {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        margin: 4rem;
        margin-left: 0;
        padding-left: 2rem;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        font-family: "Open Sans", sans-serif;

        &-title {
            color: #97d6f3;
            font-family: "inter", sans-serif;
            font-weight: 900;
            text-decoration: underline;
            margin-top: 5rem;
            margin-bottom: 2rem;
            font-size: 36px;
        }

        &-description {
            font-size: 20px;
            line-height: 36px;
            padding-right: 16rem;
        }
    }
}

.section6{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    
    &__title{
        margin: 2rem;
        margin-bottom: 6rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 200;
        font-size: 48px;
    }

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
        column-gap: 20rem;

        font-family: "open sans";
        font-weight: 100;
        font-size: 20px;

        margin-bottom: 6rem;
        
    }
}

@media screen and (max-width: 1500px) {
    .section1 {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        padding-bottom: 1rem;

        &__img {
            display: none;
            width: 100%;
            margin-left: 0;
        }

        &__text {
            padding: 2rem;

            &-title {
                font-size: 32px;
                padding: 0;
            }

            &-description {
                font-size: 16px;
                padding: 1rem;
            }

            &-button {
                margin-bottom: 1rem;
            }
        }
    }

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        padding-bottom: 4rem;

        &__element {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: none;

            width: 40%;

            margin-bottom: 2.5rem;
            border-bottom: 1px solid blue;
            padding-bottom: 2.5rem;

            &:last-child {
                border-bottom: transparent;
            }

            &-title {
                font-size: 2rem;
                margin-bottom: 0;
            }

            &-sub {
                padding: 1rem;
            }
        }
    }

    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1rem;

        &__img {
            display: none;
        }

        &__text {
            margin: 0;
            background: linear-gradient(to right, #4e54c8, #8f94fb);
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0;
            margin-left: 0;
            padding: 2rem;
            border-radius: 50px;
            font-family: "Open Sans", sans-serif;
            color: white;

            &-title {
                font-family: "inter", sans-serif;
                font-weight: 300;
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 36px;
            }

            &-description {
                font-size: 20px;
                line-height: 36px;
                padding-right: 0;
            }
        }
    }

    .section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1rem;

        &__img {
            display: none;
        }

        &__text {
            margin: 0;
            background: linear-gradient(to right, #74ebd5, #acb6e5);
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0;
            margin-left: 0;
            padding: 2rem;
            border-radius: 50px;
            font-family: "Open Sans", sans-serif;
            color: white;

            &-title {
                font-family: "inter", sans-serif;
                font-weight: 300;
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 36px;
            }

            &-description {
                font-size: 20px;
                line-height: 36px;
                padding-right: 0;
            }
        }
    }

    .section5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1rem;

        &__img {
            display: none;
        }

        &__text {
            margin: 0;
            background: linear-gradient(to right, #396afc, #2948ff);

            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0;
            margin-left: 0;
            padding: 2rem;
            border-radius: 50px;
            font-family: "Open Sans", sans-serif;
            color: white;

            &-title {
                font-family: "inter", sans-serif;
                font-weight: 300;
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 36px;
            }

            &-description {
                font-size: 20px;
                line-height: 36px;
                padding-right: 0;
            }
        }
    }
}


