.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;

    &__logo{
        width: 6rem;
    }

    &__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    &__btn{
        color: $lightBlue;
        background-color: white;
        width: 12rem;
        height: 4rem;
        border: 1px solid $lightBlue;
        border-radius: 3.125rem;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        margin-right: 2rem;

        &:hover{
            cursor: pointer;
            border: 2px solid $lightBlue;
            box-shadow: 5px 5px 13px -10px #000000;
        }

        &:active{
            border: none;
        }
    }

    &__social{

        &-btn{
            margin-right: 1rem;
            border: 1px solid transparent;
            background-color: transparent;

            &:hover{
                cursor: pointer;
            }
        }
        
        &-icon{
            width: 32px;
        }
    }
}

@media only screen and (max-width: 1500px) {
    
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0.5rem 1rem;
    
        &__logo{
            width: 4rem;
            margin-right: 0;
        }

        &__btn{
            margin: 0;
            width: 6rem;
            height: 3rem;
            
            font-size: 16px;

        }

        &__social-btn{
            display: none;
        }
    }

}


