html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to right, #00b4db, #0083b0);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "public sans", sans-serif;
}