.form{
    display: flex;
    flex-direction: column;
}

.SFmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    
    position: relative;

    width: 920px;
    height: 100vh;

    background-color: white;

    &__title{
        margin-bottom: 3rem;
    }

    &__element{
        margin-bottom: 2rem;
        z-index: 2; 

        &-title{
            margin-bottom: 4px;

        }

        &-input{
            width: 16rem;

            padding: 0.7rem 0.5rem;

            border: none;
            border-radius: 5px;
            background-color: hsl(0, 10%, 92%);

            &:hover{
                cursor: pointer;
            }

        }

    }

    &__checkboxes{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-title{
            margin-bottom: 2rem;
        }

        &-element{
            display: flex;
            width: 50px;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 4rem;

            &-input{
                cursor: pointer;
            }
        }
    }

    &__action{
        width: 16rem;
        height: 3rem;
        border-radius: 5px;
        background-color: rgb(49, 232, 49);
    }
}